<div class="container">
    <header>
        <h1>Admin Dashboard - Dog Records</h1>
    </header>

    <main>
        <section class="dog-records">
            <h2>Dog Records</h2>
            <!-- Placeholder dog records // data should be from our database/backend -->
            <div class="dog-record">
                <div class="dog-card" *ngFor="let dog of dogs" href="">
                    <p><strong>Name:</strong> {{ dog.name }}</p>
                    <p><strong>Breed:</strong> {{ dog.breed }}</p>
                    <p><strong>Age:</strong> {{ dog.age }} years</p>
                    <p>{{ dog.description }}</p>
                    <p *ngIf="dog.available === false" class="unavailable-note">
                        This dog has someone interested. <span class="toggle-availability" (click)="relistDog(dog.id)">Click here to relist</span>
                    </p>
                    <p *ngIf="dog.available === true" class="available-note">
                        This dog is currently available! <span class="toggle-availability" (click)="unlistDog(dog.id)">Click here to unlist</span>
                    </p>
                    <!-- should be link to edit page or add-dog.html -->
                    <button class="edit-button" (click)="editDog(dog.id)">Edit</button>
                    <!-- should be a function to delete teh selected dog record -->
                    <button class="delete-button" (click)="deleteDog(dog.id)">Delete</button>
                    <hr />
                </div>
            </div>

            <!-- Button to add new dog / should be link to our add dog page or add-dog.html -->
            <button class="add-dog-button" (click)="addDog()">Add New Dog</button>
        </section>
    </main>

    <footer>
        <p>&copy; Dog Adoption Portal</p>
    </footer>
</div>