<div class="container">
    <header>
        <h1>Dog Adoption Portal</h1>
    </header>

    <main>
        <section class="success-message">
            <h2>Thank you for your adoption request!</h2>
            <p>Please contact us via SMS (0912 345 6789) or Facebook (<a href="www.facebook.com">Dog Adoption Company</a>) for further details.
            </p>
            <p>You can also visit us at 021 Upper Fake Street, Lower Placeholder Village, Makati City.</p>
            <button [routerLink]="['/adopt-a-dog']" class="return-button">Back to Available Dogs</button>
        </section>
    </main>

    <footer>
        <p>&copy; Dog Adoption Portal</p>
    </footer>
</div>