<div class="container">
    <header>
        <h1>Dog Adoption Portal</h1>
    </header>

    <main>
        <section class="success-message">
            <h2>Congratulations on Your New Companion!</h2>
            <!-- should be the name of selected dog -->
            <p>Your adoption request was successful. We are thrilled to welcome <strong>Max</strong> into your family!
            </p>
            <p>Our team will reach out to you soon with further details and next steps for a smooth transition.</p>
            <button [routerLink]="['/adopt-a-dog']" class="return-button">Back to Available Dogs</button>
        </section>
    </main>

    <footer>
        <p>&copy; Dog Adoption Portal</p>
    </footer>
</div>